.grid-display {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
}

.cell {
  background: rgb(255, 210, 144);
  /* height: 100px; */
  position: relative;
  /* width: 100px; */
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.v-f::before {
  background: black;
  content: "";
  height: 100px;
  width: 4px;
  position: absolute;
  top: 0px;
  left: 48px;
}

.v-t::before {
  background: black;
  content: "";
  height: 50px;
  width: 4px;
  position: absolute;
  top: 0px;
  left: 48px;
}
.v-b::before {
  background: black;
  content: "";
  height: 50px;
  width: 4px;
  position: absolute;
  top: 50px;
  left: 48px;
}

.h-f::after {
  background: black;
  content: "";
  height: 4px;
  left: 0px;
  position: absolute;
  top: 48px;
  width: 100px;
}

.h-l::after {
  background: black;
  content: "";
  height: 4px;
  left: 0px;
  position: absolute;
  top: 48px;
  width: 50px;
}

.h-r::after {
  background: black;
  content: "";
  height: 4px;
  left: 50px;
  position: absolute;
  top: 48px;
  width: 50px;
}
