// Variables
$number-of-boxes: 5;
$border-thickness: 4px;
$box-len: 100px;

body {
  background-color: pink;
}

.board-5 {
  $number-of-boxes: 5;
}

.boar-7 {
  $number-of-boxes: 7;
}

.grid-display {
  display: grid;
  grid-template-columns: repeat($number-of-boxes, $box-len);
  grid-template-rows: repeat($number-of-boxes, $box-len);
}

.cell {
  background: rgb(255, 210, 144);
  /* height: 100px; */
  position: relative;
  /* width: 100px; */
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.piece {
  font-size: 3rem;
  z-index: 1;
}

.cell:hover {
  background-color: rgb(250, 217, 167);
  content: "⚪";
}

.v-f::before {
  background: black;
  content: "";
  height: $box-len;
  width: $border-thickness;
  position: absolute;
  top: 0px;
  left: ($box-len - $border-thickness) / 2;
}

.v-t::before {
  background: black;
  content: "";
  height: $box-len / 2;
  width: $border-thickness;
  position: absolute;
  top: 0px;
  left: ($box-len - $border-thickness) / 2;
}
.v-b::before {
  background: black;
  content: "";
  height: $box-len / 2;
  width: $border-thickness;
  position: absolute;
  top: $box-len / 2;
  left: ($box-len - $border-thickness) / 2;
}

.h-f::after {
  background: black;
  content: "";
  height: $border-thickness;
  left: 0px;
  position: absolute;
  top: ($box-len - $border-thickness) / 2;
  width: $box-len;
}

.h-l::after {
  background: black;
  content: "";
  height: $border-thickness;
  left: 0px;
  position: absolute;
  top: ($box-len - $border-thickness) / 2;
  width: $box-len / 2;
}

.h-r::after {
  background: black;
  content: "";
  height: $border-thickness;
  left: $box-len / 2;
  position: absolute;
  top: ($box-len - $border-thickness) / 2;
  width: $box-len / 2;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #7386d5;
  color: #fff;
}

#content {
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

@media (max-width: 576px) {
  .wrapper {
    flex-direction: row;
  }
  #sidebar {
    min-width: 100vw;
  }
}

.player-col-0 {
  background-color: rgb(29, 29, 29);
  color: whitesmoke;
}

.player-col-1 {
  background-color: rgb(218, 218, 218);
  color: rgb(19, 19, 19);
}
#sidebar ul li {
  &.player-stat {
    font-size: 3em;
    margin-bottom: 20px;
    padding-top: 0px;
  }
  &.h6 {
    padding: 0px;
    font-size: 1em;
    margin: 0px;
  }
}
