// Variables
$number-of-boxes: 5;
$border-thickness: 4px;
$box-len: 100px;

body {
  background-color: pink;
}

.grid-display {
  display: grid;
  grid-template-columns: repeat($number-of-boxes, $box-len);
  grid-template-rows: repeat($number-of-boxes, $box-len);
}

.cell {
  background: rgb(255, 210, 144);
  /* height: 100px; */
  position: relative;
  /* width: 100px; */
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.v-f::before {
  background: black;
  content: "";
  height: $box-len;
  width: $border-thickness;
  position: absolute;
  top: 0px;
  left: ($box-len - $border-thickness) / 2;
}

.v-t::before {
  background: black;
  content: "";
  height: $box-len / 2;
  width: $border-thickness;
  position: absolute;
  top: 0px;
  left: ($box-len - $border-thickness) / 2;
}
.v-b::before {
  background: black;
  content: "";
  height: $box-len / 2;
  width: $border-thickness;
  position: absolute;
  top: $box-len / 2;
  left: ($box-len - $border-thickness) / 2;
}

.h-f::after {
  background: black;
  content: "";
  height: $border-thickness;
  left: 0px;
  position: absolute;
  top: ($box-len - $border-thickness) / 2;
  width: $box-len;
}

.h-l::after {
  background: black;
  content: "";
  height: $border-thickness;
  left: 0px;
  position: absolute;
  top: ($box-len - $border-thickness) / 2;
  width: $box-len / 2;
}

.h-r::after {
  background: black;
  content: "";
  height: $border-thickness;
  left: $box-len / 2;
  position: absolute;
  top: ($box-len - $border-thickness) / 2;
  width: $box-len / 2;
}
